.popup {
  background-color: rgba($color-black, .8);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &__content {
    @include absCenter;

    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    color: $color-white;
    width: 75%;

    height: 50rem;
  }
}
