.story {
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  font-size: $default-font-size;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  width: 75%;

  &__shape {
    float: left;
    height: 15rem;
    transform: translateX(-3rem) skewX(12deg);
    width: 15rem;

    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);

    -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
  }

  &__img {
    height: 100%;
  }

  &__text {
    transform: skewX(12deg);
  }
}